<div class="content">
  <p>Login to proceed</p>
  <div class="buttons-area">
    <div class="btn-group">
      <button class="btn btn-danger" (click)="loginGoogle()"><i class="fa fa-google-plus"></i>Sign in with Google</button>
    </div>
    <br /><br />
    <div class="btn-group">
      <button class="btn btn-primary" (click)="loginFacebook()"><i class="fa fa-facebook"></i>Sign in with Facebook</button>
    </div>	
    <br /><br />
    <div class="btn-group">
      <button class="btn btn-info" (click)="loginTwitter()"><i class="fa fa-twitter"></i>Sign in with Twitter</button>
    </div>	
  </div>
</div>