<p class="auth-header mt-3">Hi {{user.displayName}}!
  <button class="btn btn-primary" (click)="logout()">
    <i class="fa fa-sign-out"></i>
  </button>
</p>
<app-header></app-header>
<mat-accordion>
  <mat-expansion-panel #accordion>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Add item
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form>
      <div class="input-group mb-1">
        <input type="text" class="form-control" placeholder="Item name" [(ngModel)]="myNewItem.name" name="itemName">
      </div>
      <div class="input-group mb-1">
        <input type="number" class="form-control" placeholder="Quantity" [(ngModel)]="myNewItem.quantity" name="itemQuantity">
      </div>
      <div class="input-group mb-1">
        <input type="number" class="form-control" placeholder="Price" [(ngModel)]="myNewItem.price" name="itemPrice">
      </div>
      <div class="mb-1" class="right mt-2">
        <button type="submit" class="btn btn-danger mr-2" (click)="cancel()">
          <i class="fa fa-close"></i>
        </button>
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="!myNewItem.name">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </form>
  </mat-expansion-panel>
  <ul class="list-group mt-3">
    <app-shopping-list-item [item]="item" *ngFor="let item of listItems | async" (click)="openDialog(item)"></app-shopping-list-item>
  </ul>
