<div class="auth-header col-12">
  <div class="left col-6">
    <p>Hi {{user.displayName}}!</p>
  </div>
  <div class="right col-6">
    <button class="btn btn-primary" [matMenuTriggerFor]="menu">
      <i class="fa fa-bars"></i>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goTo('shopping-list')">
        <span>Cart</span>
      </button>
      <button mat-menu-item (click)="goTo('about')">
        <span>About</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</div>
<!-- <app-header></app-header> -->
<router-outlet></router-outlet>
