button:disabled {
  cursor: not-allowed;
}

h1 {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
}

.footer {
  display: flex;
  align-items: flex-end;
  border-top: 0.25em solid darkcyan;
  background-color: white;
}

.partial-height {
  height: 55vh;
  overflow: scroll;
}
